<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles/add_content.css">
    <title>Добавление контента</title>
</head>
<body>
    <header>
        <div class="logo_section">
            <h1>Albumify</h1>
        </div>
        <div class="nav">
            <div class="nav_btns">
                <button class="nav_btn1"><h1>Главная</h1></button>
                <a th:href="@{/addContent}"><button class="nav_btn2"><h1>Создать</h1></button></a>
            </div>
            <div class="nav_search">
                <input type="search" placeholder="Поиск">
            </div>
        </div>
        <div class="user_section">
            <img src="Images/download.svg" alt="">
            <img src="Images/user.svg" alt="">
        </div>
    </header>

    <main>
        <form th:method="POST" enctype="multipart/form-data" th:action="@{/addContent}" th:object="${photo}">
        <div class="container">
            <figure class="image-container">
                <img id="chosen-image">
                <figcaption id="file-name"></figcaption>
            </figure>
    
            <input name="file" type="file" id="upload-button" >
            <label for="upload-button">
              Выберите фото
            </label>
        </div>

        <div class="info_container">
            <input name="name" class="info" type="text" placeholder="Добавить название">
            <input name="description" class="info" type="text" placeholder="Добавить описание">
            <select class="albums" name="album">
                <option th:each="album : ${albums}"><span th:text="${album.getName()}" value="${album.getName()}"></span></option>
              </select>
            <input name="tags" class="info" type="text" placeholder="Добавить тег">
            <button class="btn_create">Добавить</button>
        </div>
        </form>
        
    </main>

    <script>
        let uploadButton = document.getElementById("upload-button");
        let chosenImage = document.getElementById("chosen-image");
        let fileName = document.getElementById("file-name");

        uploadButton.onchange = () => {
            let reader = new FileReader();
            reader.readAsDataURL(uploadButton.files[0]);
            reader.onload = () => {
                chosenImage.setAttribute("src",reader.result);
            }
            fileName.textContent = uploadButton.files[0].name;
        }
    </script>
</body>
</html>