<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/Styles/change_album.css">
  <title>change album</title>
</head>
<body>
<header>
  <div class="logo_section">
    <h1>Albumify</h1>
  </div>
  <div class="nav">
    <div class="nav_btns">
      <a th:href="@{/}"><button class="nav_btn1"><h1>Главная</h1></button></a>
      <a th:href="@{/addContent}" th:if="${auth} == true"><button class="nav_btn2"><h1>Создать</h1></button></a>
      <a th:href="@{/login}" th:if="${auth} == false"><button class="nav_btn2"><h1>Создать</h1></button></a>
    </div>
    <div class="nav_search">
      <input type="search" placeholder="Поиск">
    </div>
  </div>
  <div class="user_section" th:if="${auth} == true">
    <img src="/Images/download.svg" alt="">
    <a th:href="@{/profile}"><img src="Images/user.svg" alt=""></a>
  </div>
  <div class="user_section" th:if="${auth} == false">
    <img src="/Images/download.svg" alt="">
    <a th:href="@{/registration}"><img src="Images/user.svg" alt=""></a>
  </div>
</header>

<main>
  <form th:method="POST" th:actoin="@{/edit-album/{userId}-{albumname}(userId=${album.getUserId()}, albumname=${album.getName()})}" th:object="${deletePhoto}">
  <div class="text_container">
    <div class="text" th:text="${album.getName()}">Название альбома</div>
    <div class="subtext" th:text="${album.getDescription()}">описание</div>
    <button class="btn_del">Удалить выбранные фото</button>
  </div>
  <div class="gallery">

    <div class="gallery-item" th:each="photo : ${photos}">
      <figure>
        <input type="checkbox" class="del_photo" th:value="${photo.getFile().getOriginalFilename()}" name="fileName">
        <img th:src="@{/data/{file}(file=${photo.getFile().getOriginalFilename()})}" />
        <figcaption th:text="${photo.getName()}">name</figcaption>
      </figure>
      <p th:text="${photo.getDescription()}">description</p>
    </div>

  </div>
  </form>
</main>
</body>
</html>