<!DOCTYPE html>
<html lang="en" xmlns:th="htttp://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles/style.css">
    <title>Albumify</title>
</head>
<body>
    <header>
        <div class="logo_section">
            <h1>Albumify</h1>
        </div>
        <div class="nav">
            <div class="nav_btns">
                <button class="nav_btn1"><h1>Главная</h1></button>
                <button class="nav_btn2"><h1>Поделиться</h1></button>
            </div>
            <div class="nav_search">
                <input type="search" placeholder="Поиск">
            </div>
        </div>
        <div class="user_section" th:if="${auth} == true">
            <img src="Images/download.svg" alt="">
            <a th:href="@{/profile}"><img src="Images/user.svg" alt=""></a>
        </div>
        <div class="user_section" th:if="${auth} == false">
            <img src="Images/download.svg" alt="">
            <a th:href="@{/registration}"><img src="Images/user.svg" alt=""></a>
        </div>
    </header>

    <main>
        <div class="gallery">
            <div class="gallery-item">
              <figure>
                <img src="https://images.dog.ceo/breeds/hound-english/n02089973_3147.jpg" alt="dog" />
                <figcaption>Picture of a few dogs having a rest and sleeping.</figcaption>
              </figure>
              <p>OMG, seriously how cute are these dogs?</p>
            </div>
            <div class="gallery-item">
              <figure>
                <img src="https://images.dog.ceo/breeds/poodle-toy/n02113624_1582.jpg" alt="dog" />
                <figcaption>Caption of the pic</figcaption>
              </figure>
              <p>More text about the image</p>
            </div>
            <div class="gallery-item">
              <figure>
                <img src="https://images.dog.ceo/breeds/pug/n02110958_13794.jpg" alt="dog" />
                <figcaption>Caption of the pic</figcaption>
              </figure>
              <p>More text about the image</p>
            </div>
            <div class="gallery-item">
              <figure>
                <img src="https://images.dog.ceo/breeds/terrier-australian/n02096294_5504.jpg" alt="dog" />
                <figcaption>Caption of the pic</figcaption>
              </figure>
              <p>More text about the image</p>
            </div>
            <div class="gallery-item">
              <figure>
                <img src="https://images.dog.ceo/breeds/kelpie/n02105412_1222.jpg" alt="dog" />
                <figcaption>Picture of a few dogs having a rest and sleeping.</figcaption>
              </figure>
              <p>OMG, seriously how cute are these dogs?</p>
            </div>
            <div class="gallery-item">
              <figure>
                <img src="https://images.dog.ceo/breeds/doberman/n02107142_1193.jpg" alt="dog" />
                <figcaption>Caption of the pic</figcaption>
              </figure>
              <p>More text about the image</p>
            </div>
            <div class="gallery-item">
              <figure>
                <img src="https://images.dog.ceo/breeds/newfoundland/n02111277_5292.jpg" alt="dog" />
                <figcaption>Caption of the pic</figcaption>
              </figure>
              <p>More text about the image</p>
            </div>
            <div class="gallery-item">
              <figure>
                <img src="https://images.dog.ceo/breeds/newfoundland/n02111277_5292.jpg" alt="dog" />
                <figcaption>Caption of the pic</figcaption>
              </figure>
              <p>More text about the image</p>
            </div>
            <div class="gallery-item">
              <figure>
                <img src="https://images.dog.ceo/breeds/borzoi/n02090622_266.jpg" alt="dog" />
                <figcaption>Picture of a few dogs having a rest and sleeping.</figcaption>
              </figure>
              <p>OMG, seriously how cute are these dogs?</p>
            </div>
            <div class="gallery-item">
              <figure>
                <img src="https://images.dog.ceo/breeds/newfoundland/n02111277_11806.jpg" alt="dog" />
                <figcaption>Caption of the pic</figcaption>
              </figure>
              <p>More text about the image</p>
            </div>
            <div class="gallery-item">
              <figure>
                <img src="https://images.dog.ceo/breeds/poodle-miniature/n02113712_3293.jpg" alt="dog" />
                <figcaption>Caption of the pic</figcaption>
              </figure>
              <p>More text about the image</p>
            </div>
            <div class="gallery-item">
              <figure>
                <img src="https://images.dog.ceo/breeds/pembroke/n02113023_4881.jpg" alt="dog" />
                <figcaption>Caption of the pic</figcaption>
              </figure>
              <p>More text about the image</p>
            </div>
            <div class="gallery-item">
              <figure>
                <img src="https://images.dog.ceo/breeds/poodle-standard/n02113799_4946.jpg" alt="dog" />
                <figcaption>Caption of the pic</figcaption>
              </figure>
              <p>More text about the image</p>
            </div>
            <div class="gallery-item">
              <figure>
                <img src="https://images.dog.ceo/breeds/schnauzer-giant/n02097130_4050.jpg" alt="dog" />
                <figcaption>Caption of the pic</figcaption>
              </figure>
              <p>More text about the image</p>
            </div>
          </div>
    </main>
</body>
</html>