<!DOCTYPE html>
<html lang="en" xmlns:th="htttp://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="Styles/profile.css">
  <title>Личный кабинет</title>
</head>
<body>
<header>
  <div class="logo_section">
    <h1>Albumify</h1>
  </div>
  <div class="nav">
    <div class="nav_btns">
      <a th:href="@{/}"><button class="nav_btn1"><h1>Главная</h1></button></a>
      <a th:href="@{/addContent}" th:if="${auth} == true"><button class="nav_btn2"><h1>Создать</h1></button></a>
      <a th:href="@{/login}" th:if="${auth} == false"><button class="nav_btn2"><h1>Создать</h1></button></a>
    </div>
    <div class="nav_search">
      <input type="search" placeholder="Поиск">
    </div>
  </div>
  <div class="user_section" th:if="${auth} == true">
    <img src="Images/download.svg" alt="">
    <a th:href="@{/profile}"><img src="Images/user.svg" alt=""></a>
  </div>
  <div class="user_section" th:if="${auth} == false">
    <img src="Images/download.svg" alt="">
    <a th:href="@{/registration}"><img src="Images/user.svg" alt=""></a>
  </div>
</header>

<main>
  <div class="person_information">
    <img src="Images/logo_user.jpg" alt="" width="150px" height="150px">
    <h1 th:text="${nickname}">Никнейм</h1>
  </div>

  <div class="text_container">
    <a th:href="@{/{nickname}-groupe(nickname=${nickname})}"><div class="text">Общие альбомы</div></a>
    <a th:href="@{/{nickname}-personal(nickname=${nickname})}"><div class="text">Личные альбомы</div></a>
  </div>
  <div class="albums">
    <div th:each="album : ${albums}" class="album">
      <a th:href="@{/album/{userId}-{albumname}(userId=${album.getUserId()}, albumname=${album.getName()})}">
        <div><span style="text-align: center; margin: 0 auto;" th:text="${album.getName()}">album name</span></div>
      </a>
    </div>
</main>
</body>
</html>